:root {
  --primary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  --btn-color: #F5F4FA;
  --client-color: #AFB1B8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-img,
.list-team {
  margin-right: 30px;
  margin-bottom: 0;
}

.text-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  display: inline-block;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.pointer {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #188CE8;
}

.btn-nav {
  color: var(--secondary-text-color);
  background-color: var(--btn-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  border-radius: 4;
  padding: 6px 22px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-nav:hover,
.btn-nav:focus {
  background: #2196F3;
  color: var(--primary-title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.position-subscribe-btn {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-icon-style {
  color: #FFFFFF;
}

.btn-close {
  margin-left: 490px;
  margin-top: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  position: relative;
}

.close-back {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.close-back:hover {
  color: var(--accent-color);
}

.btn-submit-position {
  text-align: center;
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.portfolio-buttons .btn-portfolio + .btn-portfolio {
  margin-left: 8px;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  font-family: "Raleway", sans-serif;
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 24px;
}

.logo-span {
  color: var(--accent-color);
}

.footer-logo-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-title-color);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0%;
}

.header {
  text-align: center;
}
.header__line {
  border-bottom: 1px solid #ECECEC;
  background: #FFFFFF;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}
.site-nav__item {
  display: block;
  position: relative;
  padding-top: 34px;
  padding-bottom: 34px;
  text-align: center;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav .current {
  color: var(--accent-color);
}
.site-nav .current:after {
  content: "";
  position: absolute;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 344px;
}
.site-nav__auth .site-nav__item + .site-nav__item {
  margin-left: 30px;
}
.site-nav__link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.icon-smartphone,
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  background-size: contain;
}

.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bcg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bcg.jpg");
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}
.hero__wrapper {
  text-align: center;
  width: 696px;
  display: inline-block;
  margin: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features .features__item + .features__item {
  margin-left: 30px;
}
.features__wrapper {
  display: inline-block;
  width: 270px;
}
.features__icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--btn-color);
  border-radius: 4px;
  fill: currentColor;
}
.features__text-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.activities {
  padding-top: 0;
}
.activities__thumb {
  position: relative;
  display: block;
  margin: 0;
}
.activities__label {
  position: absolute;
  bottom: 27px;
  right: 107px;
  z-index: 2;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.activities__thumb::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
}

.bcg {
  background-color: #F5F4FA;
}

.list-team .text {
  margin-top: 10px;
  text-align: center;
}

.list-team .text-header {
  margin-top: 30px;
  text-align: center;
}

.list-team {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 206px;
  height: 44px;
  margin: 16px 32px 30px 32px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  fill: currentColor;
}
.social__links {
  color: var(--client-color);
  background-color: #FFFFFF;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--transition), background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}
.social__links:hover, .social__links:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients__logo {
  fill: currentColor;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.clients__link {
  border: 1px solid var(--client-color);
  padding: 16px 32px;
  min-width: 170px;
  color: var(--client-color);
  display: block;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}
.project__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.project__details {
  position: relative;
  overflow: hidden;
}
.project__details img {
  display: block;
}
.project__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-title-color);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.project__descr .text {
  margin-top: 4px;
  margin-bottom: 20px;
}
.project__item:hover .project__overlay-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.project__descr {
  padding-top: 20px;
  padding-left: 24px;
}
.project__item:nth-child(3) {
  margin-right: 0px;
}
.project__item {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.project__item:hover, .project__item:focus {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.footer-background {
  background-color: #2F303A;
}

.footer {
  color: var(--primary-title-color);
  font-style: normal;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer__position {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__general-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0%;
  padding-bottom: 0%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.adress {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.adress__position {
  padding-top: 20px;
}
.adress__position .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.adress__padding {
  padding-top: 9px;
}

.footer-join {
  margin-top: 72px;
  margin-left: 70px;
  height: 80px;
}
.footer-join__title {
  margin-bottom: 20px;
  color: var(--primary-title-color);
  text-transform: uppercase;
  font-size: 14px;
}
.footer-join__social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}
.footer-join__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0%;
}
.footer-join__social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-join__icon {
  fill: currentColor;
}
.footer-join__social-link {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.footer-join__social-link:hover, .footer-join__social-link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  margin-top: 72px;
  margin-left: 93px;
}
.footer-subscribe__form {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 12px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.footer-subscribe__form:focus {
  border: 1px solid var(--accent-color);
}
.footer-subscribe__title {
  color: var(--primary-title-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.footer-subscribe__position {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backdrop {
  position: fixed;
  background-color: rgba(47, 48, 58, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form {
  width: 448px;
  margin-left: 40px;
  margin-top: 12px;
}
.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__field input {
  margin: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.form__field input:focus + svg {
  fill: var(--accent-color);
}
.form__field input:focus {
  border: 1px solid var(--accent-color);
}
.form__field svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.form__field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form__field textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  outline: none;
}
.form__field textarea:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.form__input-wrap {
  position: relative;
}
.form__input-wrap input {
  padding-left: 42px;
}
.form__policy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.form__policy input:checked + label .custom-checkbox {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}
.form__policy-link {
  color: var(--accent-color);
}

.label + .custom-checkbox {
  padding-left: 42px;
}

.hidden-checkbox {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  -webkit-transition: border var(--transition), background-color var(--transition);
  transition: border var(--transition), background-color var(--transition);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=main.css.map */