.hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bcg.jpg");
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;

    &__wrapper{
        text-align: center;
        width: 696px;
        display: inline-block;
        margin: auto;
    }

    &__title{
        font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color)
    
    }
}






